page-landing {
    #auth{
        position: absolute;
        top: 0;
        right: 0;
        button{
            text-transform: none;
        }
    }

    #logo{
        height: 30%;
        text-align: center;
        img{
            position: relative;
            top: 50%;
        }
    }

    #details{
        height: 30%;
    }

    #create-btn{
        text-align: center;
    }

    #footer{
        position: absolute;
        bottom: 0;
    }
}
