page-home {
    #avatar{
        height: 20%;
        text-align: center;
        img{
            position: relative;
            top: 50%;
        }
    }

    #details{
        text-align: center;
    }

    #options{
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 3vh 1vw;
        
        button{
            padding: 0 0 0 5px;
            border-left: 3vw solid color($colors, primary);
            border-bottom: 1px solid color($colors, primary);
            border-top: 1px solid color($colors, primary);
            border-right: 1px solid color($colors, primary);
            margin: 2px 0;
        }
    }

    .highlight{
        color: color($colors, primary);
    }
}
